@import 'node_modules/bootstrap/scss/bootstrap';

html * {
  //font-family: Century Gothic !important;
  //Marker Felt
  //Bahnschrift Light
}

#comment {
  background: rgba(216, 216, 216, 0.284);
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#send-button {
  border-radius: 22px !important;
  background: #ebb000!important;
}

#input:focus {
  outline: none;
}

#offcanvas-header{
  background: #ecc54f;
}

#offcanvasLeftLabel {
  color: rgb(255, 255, 255);
}


#comment>button {
  background: #333;
  border: none;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages>li {
  padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
  background: #efefef;
}

#navbar {
  background: #ecc54f;
}

.navbar-brand{
  color: rgb(252, 255, 205);
}

a:hover {
  color: rgb(253, 104, 178);
}

.navbar-toggler:focus {
  box-shadow: 252, 255, 205 0.25rem;

}

#navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body{
  padding-top: 70px;
}

#offcanvas-toggle{
  position: relative;
  background-color: #ebb000;
  border-color: #e5b72d;
}

#offcanvas {
margin-top: 62px !important
}


#activityLog{
  padding-bottom: 25px;
}

#notif{
  background-color: #ffdc73;
}

#navbar-brand{
  font-family: Century Gothic !important;
  font-size: 18pt;
}

#navbar-username{
  color: rgb(255, 255, 255);
}

#login {
  color: rgb(255, 255, 255);
  padding-right: 16px;
}

#signup {
  color: rgb(255, 255, 255);
}

#auth-logout{
color: rgb(255, 255, 255);
}

#pixel-canvas-title{
  color: rgb(255, 197, 6);
  margin-top: 20px;
  margin-bottom: 20px;
}

#pixel-canvas-intro{
  color: rgb(137, 137, 137)!important;
  width: 830px;
}

.info-spacer{
width: 50%;
}

.modal-title{
  margin-left: 34%;
  color: rgb(255, 197, 6);
}

.modal-title-painted {
  margin-left: 21%;
  margin-bottom: 0px;
  color: rgb(255, 197, 6);
}


#previous-color{
  margin-bottom: 10px;
  color: rgb(137, 137, 137) !important;
}

#color-box {
  margin-right: 10px;
  margin-left: 10px;
  border: 3px solid #7a7a7a!important;
}

#color-modal-info{
  margin-top: 0px;
  padding-top: 10px;
}

#color-copy{
  background-color: #e5b72d !important;
  border-color: #b9952a !important;
}

#color-modal-color{
  margin-bottom: 10px;
}

#modal-close{
  border-radius: 5px;
  width: 30px;
  height: 30px;
  background-color: #e8e8e8;
  border-color: #d2d2d2;
}

#colorpicker{
  margin-left: 10px;
  width: 40px;
  height: 28px;
}

#confirm{
  background-color: #aeda2f;
  border-color: #98bc2d;
}

#pixel-taken-body{
  margin: 0px;
  padding: 0px;
  color: rgb(137, 137, 137) !important;
}

//d-flex justify-content-center align-items-center

#choose-your-pixel{
  color: rgb(137, 137, 137) !important;
}

#modal-close-bottom {
  background-color: #b6b9bc;
  border-color: #9ea0a3;
}


#user{
  color: #0ad3df !important;
}

#timeleft {
  color: #ff6d9b !important;
}


.modal-title-occupied {
  margin-left: 26%;
  color: rgb(255, 197, 6);
  margin-bottom: 0px;
}

#pixel-color{
  color: rgb(137, 137, 137) !important;
}


#unlocks-in {
  color: rgb(137, 137, 137) !important;
}


.modal-title-signin {
  margin-left: 32%;
  color: rgb(255, 197, 6);
}

#sign-in{
  background-color: #aeda2f;
  border-color: #98bc2d;
}

#submit{
  background-color: #aeda2f;
  border-color: #98bc2d;
}

#user-login{
  color: rgb(137, 137, 137)!important;
}

#user-login-title {
  color: #ffc506 !important;
}

#user-signup {
  color: rgb(137, 137, 137) !important;
}

#user-signup-title {
  color: #ffc506 !important;
}

#pixel-wrapper{
  margin-bottom: 100px;
}
