<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const generateTitle = () => {
  return '<h1 class="text-center mb-3">Pixel Canvas</h1>'
}

const generateCanvas = ({ isLoading }) => {
if (isLoading) return `<div class="text-center mb-3">Loading...</div>`

  return '<h1 class="text-center mb-3">Pixel Canvas</h1>'
}

const generatePage = (info) => {
  const $page = $('#pages-Pixel-index')
  const $title = generateTitle(info)
  const $canvas = generateCanvas(info)
  $page.html('').append($title).append($canvas)
}

//const getpixels = () => {
  axios({
        method: 'GET',
        url: '/api/pixel'
      }).then((resp) => {
        const canvas = resp.data.pixel
        console.log(canvas)
      })

//}



$(document).ready(() => {
  generatePage({ isLoading: true })
  //getPixels()
})
</script>

<%- contentFor('body') %>
<div id="pages-Pixel-index" class="container"></div>
