<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const generateTitle = () => {
  return '<h1 class="text-center mb-3">Pixel Canvas</h1>'
}

const generateCanvas = ({ isLoading, pixels }) => {
  if (isLoading) return `<div class="text-center mb-3">Loading...</div>`

  return `
    <div id="pixel-wrapper">
      ${
        pixels.map((row, y) => {
          return `

          <div id="sign-in-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Sign in required</h5>
                  <button id="modal-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" onclick="window.location.href='/auth/login';">
                    log in
                  </button>
                  <button id="modal-close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


          <div id="color-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Paint this Pixel!</h5>
                  <button id="modal-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <label for="colorpicker">Choose pixel color:</label>
                    <input type="color" id="colorpicker" value="#0000ff">
                  </div>
                </div>
                <div class="modal-footer">
                  <button id="confirm" type="button" class="btn btn-primary">Confirm</button>
                  <button id="modal-close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <div
            class="row justify-content-center align-items-center flex-nowrap mx-auto"
            style="width: ${row.length * 9}px
            border: .5px solid #C8C8C8;
            "
          >
            ${row.map((col, x) => {
            return `
                  <div
                    id="x-${x}-y-${y}"
                    data-x="${x}"
                    data-y="${y}"
                    class="pixel-col p-0"
                    style="
                      background-color: ${col.RGB};
                      width: 9px;
                      height: 9px;
                      border: .1px solid #C8C8C8;
                    "
                  ></div>
                `
          }).join('')
            }
          </div>
        `
        }).join('')
      }
    </div>
  `
}

let currentPixel
let user
let pixelData

const generatePage = (info) => {
  const $page = $('#pages-Pixel-index')
  const $title = generateTitle(info)
  const $canvas = generateCanvas(info)
  $page.html('').append($title).append($canvas)
}

const getPixels = () => {
  axios({
        method: 'GET',
        url: '/api/pixels'
      }).then((resp) => {
        var pixels = resp.data.pixel
        //console.log(pixels)
        generatePage({pixels})
      })
}

const getMyProfileIndex = () => {
  axios({
    method: 'GET',
    url: '/api/my/profile',
  }).then((resp) => {
    user = { user: resp.data }
    console.log("signed in")
  }).catch(() => {
    user = null
    console.log("please sign in")
  })
}

const getPixel = async (xCoord, yCoord) => {
  await axios({
    method: 'GET',
    url: '/api/pixel',
    params : {
      x: xCoord,
      y: yCoord
    }
  }).then((resp) => {
    console.log('pixel found')
    //console.log(resp.data)
    pixelData = resp.data
  }).catch(() => {
    console.log('pixel not found')
  })
}

const handlePixelClick = (e) => {
  e.preventDefault()
  const $elem = $(e.currentTarget)
  currentPixel = $elem
  const xCoord = $elem.data('x')
  const yCoord = $elem.data('y')
  //console.log(xCoord)
  //console.log(yCoord)


const pixelPress = async() => {
  await getPixel(xCoord, yCoord)
  //console.log(pixelData.x)
  //console.log(pixelData.y)
  //console.log(pixelData.timeStamp)
  const timeCreated = new Date(pixelData.timeStamp)
  console.log(Math.floor((timeCreated.getTime())/1000))
  console.log(Math.floor((Date.now())/1000))
  console.log(Math.floor((Math.floor((Date.now()) / 1000)- Math.floor((timeCreated.getTime()) / 1000))/60))


      if (user) {
        $("#color-modal").modal('show')
      } else {
        $("#sign-in-modal").modal('show')
      }
}

  pixelPress(xCoord, yCoord)
}

const handleModalClick = (e) => {
  e.preventDefault()
  console.log('closed')
  //console.log($(e.target).parents(".modal"))
  //$("#color-modal").modal('hide')
  $(e.target).parents(".modal").modal('hide')
}

const handleModalConfirm = (e) => {
  e.preventDefault()
  console.log('confirm')
  const colorHex = $('#colorpicker')
  //console.log(colorHex.val())
  //console.log(currentPixel)
  $(currentPixel).css("background-color", colorHex.val())
  $("#color-modal").modal('hide')
}


$(document).ready(() => {
  generatePage({ isLoading: true })
  getPixels()
  getMyProfileIndex()
  $('#pages-Pixel-index').on('click', '.pixel-col', handlePixelClick)
  $('#pages-Pixel-index').on('click', '#modal-close', handleModalClick)
  $('#pages-Pixel-index').on('click', '#confirm', handleModalConfirm)
})


</script>

<%- contentFor('body') %>
<div id="pages-Pixel-index" class="mb-6"></div>
