<script>
const replaceDynamicLinks = ({ isLoading, user } = {}) => {
  if (isLoading) return $('#navbar-dynamic-links').html('loading...')

  $('#navbar-dynamic-links').html(user ? `
    <li class="nav-item">
      <p id="navbar-username" class="nav-link mb-0">Welcome <b>${user.username}</b></p>
    </li>
    <li class="nav-item">
      <a id="auth-logout" class="nav-link" href="/auth/login">Logout</a>
    </li>

    <li class="nav-item">
      <button id="offcanvas-toggle" type="button" class="btn btn-primary">
        Activity log <span id="notif" class="badge badge-light"></span>
      </button>
    </li>

  ` : `
    <li class="nav-item">
      <a id="signup" class="nav-link" href="/auth/signup">Signup</a>
    </li>
    <li class="nav-item">
      <a id="login" class="nav-link" href="/auth/login">Login</a>
    </li>

    <li class="nav-item">
      <button id="offcanvas-toggle" type="button" class="btn btn-primary">
        Activity log <span id="notif" class="badge badge-light"></span>
      </button>
    </li>
  `)
}

const getMyProfile = () => {
  replaceDynamicLinks({ isLoading: true })

  axios({
    method: 'GET',
    url: '/api/my/profile',
  }).then((resp) => {
    replaceDynamicLinks({ user: resp.data })
  }).catch(() => {
    replaceDynamicLinks()
  })
}

const handleLogout = (e) => {
  e.preventDefault()

  axios({
    method: 'DELETE',
    url: '/api/auth/logout'
  }).then(() => {
    window.location.href = '/'
  })
}

const ActivityLog = (e) => {
  e.preventDefault()
  $("#offcanvas").offcanvas('show')
  notif=null
  $('#notif').text(notif)
}

$(document).ready(() => {
  getMyProfile()
  $('body').on('click', '#auth-logout', handleLogout)
  $('body').on('click', '#offcanvas-toggle', ActivityLog)
})
</script>

<nav id="navbar" class="navbar navbar-expand-lg align-middle fixed-top">
  <div class="container-fluid">
    <!--
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft">
      Pixel Canvas
    </button>
    -->

    <a id="navbar-brand" class="navbar-brand start-0" href="/">Pixel Canvas</a>

    <button id="navbar-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-links">
      <span id="navbar-toggler-icon" class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-links">
      <ul id="navbar-dynamic-links" class="navbar-nav ms-auto mb-2 mb-lg-0"></ul>
    </div>
  </div>
</nav>
